body{
    font-family: 'Oswald', sans-serif;
}
.header{
    width: 100%;
    height: 100%;
    display: grid;
    background-color: #0009;
    
}

.header h1{
    justify-content: left;
}

div {
    margin: 0px;
    padding: 5px;
    width: 100%;
}

.navigation{
    display: grid;
    grid-template-rows: 33% 33% 33%;
    height: 10%;
    margin: 20px;
}
/*.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a:last-child{
    padding-right: 0;

}/*/
.navigation a li{
    displaY: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
}
body {
    
    background-image: url(https://wallpapercave.com/wp/dwwIVzJ.jpg);
    background-repeat: repeat;
    background-size: 100%;
    height: auto;
    width: auto;
}
  
  .logo {
    width: 30%;
    height: 100px;
  }
  
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    opacity: 10%;
    visibility: 50%;
    width: 100%;
    margin: 20px;
    transform: rotate(180degrees);
    animation-duration: 4s;
  }
  
  main {
    height: 100%;
    width: 100%;
    }
  

    main > nav > button {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: black;
    padding: 20px; 
    text-align: center;
    border: 2px solid purple;
  }
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: solid;
    padding: 20px; 
    text-align: center;
    border: 2px solid yellow;
    animation-duration: infinite;
  }
  body > nav {
    color: yellow;
  }
  .has-border {
    border-radius: 25px;
    border: 2px solid black;
    background: teal;
    padding: 20px; 
  }
  
  
  #profile-pic {
    width: 300px;
    height: 450px;
    border-radius: 50%;
    margin: 2px right;
    align-self: center;
    grid-column: 1/3;
    background: black;
  }
  
  h1 {
    color:yellow;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid green(40, 177, 147);;
    animation-duration: infinite;
  }
  
  h2 {
    color:yellow;
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
    animation-duration: 3s;
  }
  .disappear{
    animation-name: example;
    animation-duration: 8s;
    visibility: hidden;
  }
  @keyframes example {

    0%   {visibility: hidden;}    
    25%  {visibility: visible;}
    50%  {visibility: visible;}   
    100% {visibility: hidden;}  
  }
  
  