greeting {
    display: grid; color: red;
  }
  * {
      box-sizing: border-box;
    }
    body {
      background: #F6F6F6;
      padding-bottom: 30px;
      padding-top: 30px;
    }
    .calculator{
      
      max-width: 400px;
      margin: 10 auto;
      border: 2px solid #111;
      border-radius: 5px;
    }
    .calculator input {
      background: none;
      border: none;
      box-shadow: none;
      width: 100%;
      border-bottom: 2px solid #111;
      padding: 20px;
      text-align: right;
      font-size: 40px;
    }
    
    .calculator-buttons {
      padding: 20px;
      display: grid;
      grid-template: repeat(5, 1fr) / repeat(4, 1fr);
      grid-gap: 15px;
    }
    .calc-button {
      background: rgba(0, 0, 0, 0.5);
      border: 1px solid #111;
      padding: 20px;
      color: #EEE;
      border-radius: 5px;
      font-size: 22px;
      cursor: pointer;
      }
    .is-clear,
    .is-zero {
      grid-column: span 3;
    }
    
    .is-clear {
      background: blue;
    }
    
    .is-equals {
      background: red;
    }
  
  .clock{
      color: blue;
      width: 50px;
      height: 50px;
      border-radius: 50px;
  }