body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: auto;
    width: auto;
 }

@media(max-width: 576px)

video {
    width: auto;
}

iframe {
    width: auto;
}
nav {
    display: flex;
    word-spacing: 10px;

}