body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://wallpapercave.com/wp/dwwIVzJ.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    width: auto;
  }
  
  .logo {
    width: 15%;
    height: 65%;
    margin: 10% 10%;
  }
  
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }
  
  main {
    height: 100%;
    width: 100%;
    }
  
  main > nav > button {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: solid;
    padding: 20px; 
    text-align: center;
    border: 2px solid yellow;
  }
  
  body > nav {
    color: yellow;
  }
  .has-border {
    border-radius: 25px;
    border: 2px solid teal;
    background: none;
    padding: 20px; 
  }
  
  
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 3/3;
  }
  
  h1 {
    color:yellow;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid green(40, 177, 147);;
    animation-duration: infinite;
  }
  
  h2 {
    color:yellow;
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
    animation-duration: 3s;
  }
  .disappear{
    animation-name: example;
    animation-duration: 8s;
    visibility: hidden;
  }
  @keyframes example {

    0%   {visibility: hidden;}    
    25%  {visibility: visible;}
    50%  {visibility: visible;}   
    100% {visibilty: hidden;}  
  }
  
  